  <!-- top actions -->
  <div class="hidden-xs basket-action row E">
    <div class="col-md-9 col-sm-8">
      <p class="hidden-xs">
        <a class="F btn-wide btn-primary btn"
           data-ng-href="{{getKeepBuyingUrl(state)}}"
           data-ng-cloak>
          {{::'buttons.choose_more_products' | translate}}
        </a>
      </p>

      <!-- zipcode -->
      <form class="form-inline" id="B"
            data-ng-submit="getFreight(state, form)"
            data-ng-show="hasLines(state)"
            name="zipCodeFreight"
            novalidate>
        <div data-ng-hide="hasFreight(state)">
          <h3 class="hidden-sm hidden-xs freight-title E">
            <span>{{::'freight.refer_to_delivery_time_and_shipping_for_your_cep' | translate}}</span>
          </h3>
          <div class="form-group">
            <div class="T float-label">
              <label class="sr-only" for="cep">
                {{::'mobile.enter_zipcode' | translate}} <span class="hidden-sm hidden-xs">:</span>
              </label>
              <input class="input-sm form-control" id="A" name="cep"
                     pattern="\d*"
                     type="text"
                     placeholder="_____-___"
                     required
                     data-clean="true"
                     data-mask="99999-999"
                     data-ng-model="form.cep"
                     data-form-helpers="mobile">
            </div>
          </div>

          <button class="btn-xs btn-default btn H" type="submit">
            <!-- @if BRAND='suba' -->
              {{::'buttons.ok' | translate}}
            <!-- @endif -->
          </button>

          <p class="help-block" data-ng-hide="hasFreight(state)">
            <a href="" data-ng-click="searchCep()">
              {{::'cep.search_cep' | translate}}
            </a>
          </p>
        </div>

        <div data-ng-show="hasFreight(state)">
          <h3 class="freight-title">
            <svg class="svg-primary svg-icon">
              <use xlink:href="#icon-shipment"></use>
            </svg>
            <span>{{::'freight.check_below_the_price_and_time_to_deliver_at_the_specified' | translate}}</span>
            <strong>{{::'commons.acronym.cep' | translate}} {{ state.freightPreview.cep | cep }}</strong>.
            <span>&nbsp;-&nbsp;</span>
          </h3>
          <p class="help-block">
            <a href="" class="display-xs-block btn-link btn-sm btn" data-ng-click="removeFreight()">
              {{::'freight.change_zipcode' | translate}}
            </a>
          </p>
        </div>
      </form>

    </div>

    <div class="col-md-3 col-sm-4" data-ng-show="canProceedToCheckout(state)">

      <!-- basket actions -->
      <ul class="I list-actions">
        <li>
          <!-- @if BRAND='acom' -->
            <button class="btn-thin btn-xlg btn-buy btn-block btn-primary J btn" type="button"
                    data-ng-click="goToPayment(state)"
                    id="C"
                    data-ng-disabled="isPurchaseDisabled(state)"
                    data-ng-cloak>
              <svg class="hidden-xs svg-icon-sm svg-icon">
                <use xlink:href="#icon-basket"></use>
              </svg>
              {{::'buttons.checkout' | translate}}
            </button>
          <!-- @endif -->
          <!-- @if BRAND!='acom' -->
            <button class="btn-fat btn-block btn-success btn" type="button"
                    data-ng-click="goToPayment(state)"
                    id="D"
                    data-ng-disabled="isPurchaseDisabled(state)"
                    data-ng-cloak>
              {{::'buttons.checkout' | translate}}
            </button>
          <!-- @endif -->
        </li>
        <li>
          <!-- @if BRAND='acom' -->
            <button class="btn-thin btn-lg btn-1click btn-block btn-primary btn" type="button"
                    data-ng-click="goToQuickCheckout(state)"
                    data-ng-disabled="isPurchaseDisabled(state)"
                    data-ng-cloak>
              <svg class="hidden-xs svg-icon">
                <use xlink:href="#icon-quick-checkout"></use>
              </svg>
              {{::'buttons.quick_checkout' | translate}}
            </button>
          <!-- @endif -->
          <!-- @if BRAND!='acom' -->
            <button class="btn-fat btn-block btn-success btn" type="button"
                    data-ng-click="goToQuickCheckout(state)"
                    data-ng-disabled="isPurchaseDisabled(state)"
                    data-ng-cloak>
              {{::'buttons.quick_checkout' | translate}}
            </button>
          <!-- @endif -->
        </li>
      </ul>
    </div>
  </div>

  <hr class="P hidden-xs no-bordered">