*{ text-align: center; }
[href='http://google.com']{ text-align: center; }
a:hover{ text-align: center; }
p,a.E,div::after{text-align: center;}

p,a.E+#A.F,div::after{text-align: center;}
p, div.G .H:hover > a.I::before {
  font-size: 18px;
}

p,div{
 /* div.scss */
 /*div.scss*/
 height: 10px;
}

p{} div.J{ height:5px }
.K .L .M {
  left: -9999px;
  position: fixed;
  @inlcude opacity(0.5);
}

.N a {}

#B {}

/* line 243, ../../../../statics-default/scss/components/_gift_pack.scss */
.N a{
  clear: both;
  display: block;
  padding: 15px 0 0 0;
}

#C{}

#D{ height: 3px;}

.O{ height: 3px;}
.P{ height: 3px;}